body {
	background-color: antiquewhite;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	text-align: center;
}

.input-container {
	background-color: gold;
	margin: 0 100px;
	padding: 30px;
	border-radius: 10px;
}

.inputs {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.inputs input {
	border: none;
	height: 120%;
	border-radius: 10px;
}

.add {
	margin-top: 20px;
}

.btn {
	background-color: royalblue;
	border: none;
	padding: 10px 40px;
	color: white;
	border-radius: 10px;
}

.table {
	background-color: gold;
	margin: 0 100px;
	padding: 30px;
	margin-top: 50px;
	border-radius: 10px;
}
